body {
  font-family: "Roboto", sans-serif;

  background-color: #f1dec9;
}

.App {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  grid-template-rows: repeat(12, [row-start] 1fr);
}

#header--container {
  grid-row: 1 / 2;
  grid-column: 1 / 13;

  display: flex;
  align-items: center;
  justify-content: space-around;

  background-color: #8d7b68;
  filter: drop-shadow(0px 5px 4px rgba(0, 0, 0, 0.2));

  min-height: 5rem;
}

#link--container {
  display: flex;
}

li {
  margin-left: 2rem;
}

#home--container,
#zug--container,
#bending--container {
  background-color: #c8b6a6;
  margin: 2rem;
  padding: 1rem;
  border-radius: 1.5rem;
}

/* change name i can not tell which card i am looking  at */
#home--container {
  grid-row: 3 / 7;
  grid-column: 2 / 6;

  min-width: 15rem;
  display: flex;
  flex-direction: column;
  filter: drop-shadow(0px 5px 4px rgba(0, 0, 0, 0.2));
}

#zug--container,
#bending--container {
  grid-row: 3;
  grid-column: 2 / 12;
}

#bending--container {
  min-width: 20rem;
}

/* ------------------ forms --------------------------- */

#bending--inputs--container {
  width: 20rem;
}

label {
  display: grid;
  grid-template-columns: repeat(3, [col-start] 1fr);
  grid-template-rows: repeat(1, [row-start] 1fr);
}

input,
span,
h3 {
  margin: 0.25rem;
}

h2 {
  margin-bottom: 1rem;
}
