@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");
body {
  font-family: "Roboto", sans-serif;
  position: relative;
  /* background-color: #f2ebdd; */
  background-color: white;
}

.App {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  grid-template-rows: repeat(12, [row-start] 1fr);
}

/* ------------------------------ header ------------------------------------- */

#header--container {
  z-index: 1;
  grid-row: 1 / 2;
  grid-column: 1 / 13;

  display: flex;
  align-items: center;
  justify-content: space-around;

  background-color: #fc7a57;
  filter: drop-shadow(0px 5px 4px rgba(0, 0, 0, 0.2));

  min-height: 5rem;
}

#header--left--container {
  display: flex;
  align-items: center;
}

#header--home--icon {
  margin-right: 1rem;
}

#link--container {
  display: flex;
  align-items: center;
}

li {
  margin-right: 1rem;
}

/* ------------------------- pages --------------------------------- */

#landing--container,
#zug--container,
#bending--container {
  /* background-color: lightgray; */
  border: 2px solid gray;
  margin: 2rem;
  padding: 1rem;
  border-radius: 1.5rem;
}

/* change name i can not tell which card i am looking  at */
#landing--container {
  grid-row: 3 / 7;
  grid-column: 5 / 9;

  min-width: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  filter: drop-shadow(0px 5px 4px rgba(0, 0, 0, 0.2));
}

#zug--container,
#bending--container {
  grid-row: 3;
  grid-column: 2 / 12;
}

#bending--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 20rem;
}
#positions--container,
#home--container {
  grid-row: 2/13;
  grid-column: 2 / 13;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#positions--heading {
  margin-top: 2rem;
}

.card {
  margin-top: 2rem;
  padding: 1rem;
  border: 2px solid gray;
  display: inline-block;
  border-radius: 1.5rem;
}

.add--position--btn {
  margin-top: 2rem;
  padding: 1rem;
  border: 2px solid gray;
  display: flex;
  border-radius: 1.5rem;
}

/* ------------------ forms --------------------------- */

.button--form,
input,
span,
h3 {
  margin: 0.25rem;
}

.input--error {
  margin: 0.28rem;
}

.bending--h2 {
  margin-bottom: 1rem;
}

#h3--outputs {
  margin-top: 1.5rem;
}

.formula--container {
  display: flex;
  align-items: center;
}

.error--container {
  grid-row: 2/3;
  grid-column: 2/3;
}

#bending--inputs--form {
  display: grid;
  grid-template-columns: 150px 1fr;
  grid-gap: 8px;
  padding: 1em;
}

#bending--outputs--container {
  padding: 1em;
}

form input {
  border: 1px solid #9c9c9c;
  width: 10rem;
}

.button--form {
  width: 5.256rem;
}

label {
  /* text-align: right; */
  grid-column: 1 / 2;
}

input,
.button--form,
.input--error {
  grid-column: 2 / 3;
}
/* ------------------ sidebar ----------------- */

#sidebar--container {
  z-index: 2;
  background-color: lightgray;
  grid-column-start: 1;
  grid-row: 2 /13;

  display: flex;
  flex-direction: column;
  align-items: center;
}

#burgermenu {
  margin: 0 0.5rem 0 1rem;
}

#sidebar--heading {
  width: 15rem;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#sidebar--h2 {
  margin-left: 0.5rem;
}

#sidebar--list {
  margin-top: 1rem;
}

#sidebar--button--plus {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.5rem;
  background-color: lightgray;
  border: none;
}

#sidebar--button--plus:hover,
.sidebar--dots--btn:hover,
.sidebar--open--btn:hover {
  background-color: grey;
}

.sidebar--list--element {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar--dots--btn,
.sidebar--open--btn {
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  height: 2rem;
}

.sidebar--dots--btn {
  margin-left: 0.5rem;
}
/* ------------------------------ cards ------------------------------------ */

/* ------------------------------- Modal ---------------------------------- */
#modal--close--btn {
  border: "none";
  padding: "0px";
  display: "flex";
  align-items: "center";
  background-color: "lightgrey";
}

.input--error,
#input--container {
  margin-top: 0.5rem;
}

.input--error {
  color: red;
}

#form--create--project {
  display: flex;
  flex-direction: column;
  align-items: center;
}
