body {
  font-family: "Roboto", sans-serif;

  /* background-color: #f2ebdd; */
  background-color: white;
}

.App {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  grid-template-rows: repeat(12, [row-start] 1fr);
}

#header--container {
  grid-row: 1 / 2;
  grid-column: 1 / 13;

  display: flex;
  align-items: center;
  justify-content: space-around;

  background-color: #fc7a57;
  filter: drop-shadow(0px 5px 4px rgba(0, 0, 0, 0.2));

  min-height: 5rem;
}

#link--container {
  display: flex;
}

li {
  margin-left: 2rem;
}

#landing--container,
#home--container,
#zug--container,
#bending--container {
  /* background-color: lightgray; */
  border: 2px solid gray;
  margin: 2rem;
  padding: 1rem;
  border-radius: 1.5rem;
}

/* change name i can not tell which card i am looking  at */
#landing--container,
#home--container {
  grid-row: 3 / 7;
  grid-column: 5 / 9;

  min-width: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  filter: drop-shadow(0px 5px 4px rgba(0, 0, 0, 0.2));
}

#zug--container,
#bending--container {
  grid-row: 3;
  grid-column: 2 / 12;
}

#bending--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 20rem;
}

/* ------------------ forms --------------------------- */

button,
input,
span,
h3 {
  margin: 0.25rem;
}

.input--error {
  margin: 0.28rem;
}

h2 {
  margin-bottom: 1rem;
}

#h3--outputs {
  margin-top: 1.5rem;
}

.formula--container {
  display: flex;
  align-items: center;
}

.error--container {
  grid-row: 2/3;
  grid-column: 2/3;
}

#bending--inputs--form {
  display: grid;
  grid-template-columns: 150px 1fr;
  grid-gap: 8px;
  padding: 1em;
}

#bending--outputs--container {
  padding: 1em;
}

form input {
  border: 1px solid #9c9c9c;
  width: 10rem;
}

button {
  width: 5.256rem;
}

label {
  /* text-align: right; */
  grid-column: 1 / 2;
}

input,
button,
.input--error {
  grid-column: 2 / 3;
}
/* ------------------ sidebar ----------------- */

#sidebar--container {
  background-color: blue;
  grid-row: 2 /12;
}
